/Lab2/Lab2Bai4/build/
/Lab3/Lab3Bai1/nbproject/private/
/Lab3/Lab3Bai1/build/
/Lab3/Lab3Bai2/nbproject/private/
/Lab3/Lab3Bai2/build/
/Lab3/Lab3Bai3/nbproject/private/
/Lab3/Lab3Bai3/build/
/BTTHUCHANH/Bai1/nbproject/private/
/BTTHUCHANH/Bai1/build/
/Lab3/Lab3Bai4/nbproject/private/
/Lab3/Lab3Bai4/build/
/BTTHTK/CALCULATOR/nbproject/private/
/BTTHTK/CALCULATOR/build/
/Lab4/Lab4Bai1/nbproject/private/
/FlappyBird/nbproject/private/
/Lab4/Lab4Bai1/build/
/BTTHUCHANH/Bai2/nbproject/private/
/BTTHUCHANH/Bai2/build/