/Lab2/Lab2Bai4/build/
/Lab3/Lab3Bai1/nbproject/private/
/Lab3/Lab3Bai1/build/
/Lab3/Lab3Bai2/nbproject/private/
/Lab3/Lab3Bai2/build/
/Lab3/Lab3Bai3/nbproject/private/
/Lab3/Lab3Bai3/build/
/BTTHUCHANH/Bai1/nbproject/private/
/BTTHUCHANH/Bai1/build/
/Lab3/Lab3Bai4/nbproject/private/
/Lab3/Lab3Bai4/build/
/BTTHTK/CALCULATOR/nbproject/private/
/BTTHTK/CALCULATOR/build/
/Lab4/Lab4Bai1/nbproject/private/
/FlappyBird/nbproject/private/
/Lab4/Lab4Bai1/build/
/BTTHUCHANH/Bai2/nbproject/private/
/BTTHUCHANH/Bai2/build/
/Lab4/Lab4Bai2/nbproject/private/
/Lab4/Lab4Bai2/build/
/Lab4/Lab4Bai3/nbproject/private/
/Lab4/Lab4Bai3/build/
/Lab4/lab4Bai4/nbproject/private/
/Lab4/lab4Bai4/build/
/BTTHUCHANHVENHA/Bai69/nbproject/private/
/BTTHUCHANHVENHA/Bai69/build/
/BTTHUCHANHVENHA/Bai70/nbproject/private/
/BTTHUCHANHVENHA/Bai70/build/
/BTTHUCHANHVENHA/Bai71/nbproject/private/
/BTTHUCHANHVENHA/Bai71/build/
/BTTHUCHANHVENHA/Bai72/nbproject/private/
/BTTHUCHANHVENHA/Bai72/build/
/BTTHUCHANHVENHA/Bai73/nbproject/private/
/BTTHUCHANHVENHA/Bai73/build/
/BTTHUCHANHVENHA/Bai74/nbproject/private/
/BTTHUCHANHVENHA/Bai74/build/
/BTTHUCHANHVENHA/Bai75/nbproject/private/
/BTTHUCHANHVENHA/Bai75/build/
/BTTHUCHANHVENHA/Bai76/nbproject/private/
/BTTHUCHANHVENHA/Bai76/build/
/BTTHUCHANHVENHA/Bai77/nbproject/private/
/BTTHUCHANHVENHA/Bai77/build/
/BTTHUCHANH/Bai3/nbproject/private/
/BTTHUCHANH/Bai3/build/
/BTTHUCHANH/test/nbproject/private/
/BTTHUCHANH/test/build/
/BTTHUCHANH/Bai4/nbproject/private/
/BTTHUCHANH/Bai4/build/
/BTTHUCHANH/Bai5/nbproject/private/
/BTTHUCHANH/Bai5/build/
/BTTHUCHANHVENHA/Bai78/nbproject/private/
/BTTHUCHANHVENHA/Bai78/build/
/BTTHUCHANHVENHA/Bai79/nbproject/private/
/BTTHUCHANHVENHA/Bai79/build/
/BTTHUCHANHVENHA/Bai80/nbproject/private/
/BTTHUCHANHVENHA/Bai80/build/
/BTTHUCHANHVENHA/Bai81/nbproject/private/